.App {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
  }
  table {
    border-collapse: collapse;
    margin: auto;
  }
  td {
    border: 1px solid #ccc;
    padding: 5px;
  }
  input {
    border: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  